/*------------------------------------------------------------------
[Main Stylesheet]
-------------------------------------------------------------------*/

/*
==========================================
  fonts
==========================================
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


/*------------------------------------------------------------------
[Table of contents]
> main
  > academics
    > class transcript
  > extracurriculars
    > tsa
    > aasa
    > beta club
    > 
  > contact
-------------------------------------------------------------------*/


/*
==========================================
main
==========================================
*/
*{
  margin:0;
  padding:0;
}
body{
  font-family:'Source Code Pro', monospace;
}
.mt-n1 {
  margin-bottom: -0.50rem !important;
}
